.states {
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-linejoin: round;
}

.states-choropleth {
  position:relative;
  width: 100px;
  fill: #ccc;
}

/* Legend Position Style */
.legend {
  position: absolute;
  left: 10%;
  top: 40%;
  background-color: yellow;
  opacity: 1;
  transition: opacity 0.3s;
}

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  white-space: pre-wrap;
  margin-left: 10px;
}
.tooltip_cat {
  white-space: pre-wrap;
  margin-left: 10px;
  float: right;
}
