.axis,
.frame {
shape-rendering: crispEdges;
}


.axis path {
stroke: #00F;
stroke-width: 2px;
stroke: black;
fill: none;
}

.axis text {
font-family: sans-serif;
font-size: 10px;
}



.ghost {
fill: blue;
fill-opacity: 0;
}

.label {
font-size: 12px;
color: blue;
}

.datapoint {
r: 5;
fill: blue;
fill-opacity: .5;
}

#d3plot {
width: 500px;
height: 500px;
}


/*MDS*/
#regions{
height: 80%;
width: 100%;
position: relative;
}


.axis text {
    font-size: 11px;
}

circle {
    stroke: #2c7bb6;
    fill : #2c7bb6;
    opacity : 0.8;
}
#text{
  opacity: 0.6;
}
.brushed {
  fill: red;
  stroke: red;
  opacity: 1.0;
}

.brushed_text{
  fill: #0e0d0d;
  opacity: 1.0;
}

#coordination{
  stroke: black;
  stroke-width: 2;
  opacity: 1.0;
}

.pc_brushed{
  fill: lightgray;
  stroke: darkgray;
  opacity: 1.0;
}

div.mdsTooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  font: sans-serif;
  background: lightgray;
  border-radius: 25px;
  pointer-events: none;
}


/*---------*/
#menu_tendina {
  display: table;
  width: 99%;
  margin-left: 0.5%;
  table-layout: fixed;
  border-spacing: 10px;
  border-style: outset;
  border-width: 2px;
  background-color: lightgrey;
  border-radius: 10px;
  
}
#mcomputation,#computation,#visualizationType {
  display: table-cell;
}

.button .arrow{
  border-width: 2px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  background-color: white;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 20%;
}
