.axis,
.frame {
shape-rendering: crispEdges;
}

.ghost {
fill: blue;
fill-opacity: 0;
}


.datapoint {
r: 5;
fill: blue;
fill-opacity: .5;
}

#d3plot {
width: 500px;
height: 500px;
}

/*MDS*/
#regions{
height: 80%;
width: 100%;
position: relative;
}

circle {
    stroke: #2c7bb6;
    fill : #2c7bb6;
    opacity : 0.8;
}
#text{
  opacity: 0.6;
}
.brushed {
  fill: red;
  stroke: red;
  opacity: 1.0;
}

.mouseon {
  fill: green;
  stroke: greenyellow;
  opacity: 1.0;
}

.brushed_text{
  fill: #0e0d0d;
  opacity: 1.0;
}

#coordination{
  stroke: black;
  stroke-width: 2;
  opacity: 1.0;
}

.pc_brushed{
  fill: lightgray;
  stroke: darkgray;
  opacity: 1.0;
}

div.mdsTooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  font: sans-serif;
  background: lightgray;
  border-radius: 25px;
  pointer-events: none;
}

