  .label {
    font-size: 15px;
  }
.legenda{
  overflow:visible;
  fill:red;
}
  .legendina {
    opacity: 1;
    transition: opacity 0.3s;
    overflow-y:scroll;
  }

  .legendina text,
  .axis text {
    font-size: 13px;
    fill: #333;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke-width: 1px;
    stroke: #e7e7e7;
  }


  .bubble {
    opacity: 1;
    transition: opacity 0.3s;
  }

  .bubble text {
    opacity: 0;
    pointer-events: none;
    font-size: 12px;
  }

  .bubble:hover text {
    opacity: 1;
  }

  .bubble:hover circle {
    fill-opacity: 1;
  }

  
#tooltip-container-scatter {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

.tooltip_key {
  font-weight: bold;
}

.tooltip_value {
  white-space: pre-wrap;
  margin-left: 10px;
}
.tooltip_cat {
  white-space: pre-wrap;
  margin-left: 10px;
  float: right;
}